body{
    background-color: lightblue;
}

h1{
    color:purple;
    margin-left: 10px;
}

#introduction{
    color:red;
    text-align: right;
    border: 2px solid black;

}

.sample{
    color: brown;
    text-align: center;
}

p{
  color:yellow;  
}


nav {
    background-color: white;
}

nav a {
    color: black;
    text-align: center;
    padding: 14px;
}